*{background-color: #7b2cbf;
    margin: 10px;}
b{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:#c77dff;
font size: 100px;
text-align:center;}
h2{font size:50px;
font-style:italic;
font-weight:bold;}
.eri{margin-left: 1000px;}