*{background-color: #3c096c;
    margin: 10px;}
    h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:#ad61da;
        font size: 100px;
        text-align:center;}
        h2{font size:50px;
            font-style:italic;
            font-weight:bold;
        color: #e0aaff}
        .eri2{margin-left: 1000px;}